.Background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6a4febc4;

    .TrendsHead {
        display: block;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 30px;
        font-weight: 900;
        letter-spacing: 3px;
        color: #4b4088;
    }

    .ChartWrapper {
        box-sizing: border-box;
        height: auto;
        margin: 0 auto;
        background: #fff;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 100px 300px #4a37a7;
    }
}