.NoFeedbacks {
    text-align: center;
    padding: 50px 100px;
    border: 1px solid black;
}

.Feedback {
    background-color: #fff;
    width: 700px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    border-radius: 30px;
    // box-shadow: 0 0 80px rgba($color: #000000, $alpha: 0.1);
    padding: 20px;

    .FeedbackImg {
        width: 120px;
        height: 120px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .User {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;

        .NameRating {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .Username {
                padding-bottom: 20px;
            }

        }

        .Comment {
            font-weight: 300;
            font-size: 14px;
        }

        .FeedbackTime {
            font-size: 11px;
            color: #777;
            margin-top: 20px;
            text-align: right;
        }

    }
}